/* A stylesheet for bio.html */

body {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-family: Florence, cursive;
    text-align: center;
}

p {
    color: gray;
    text-align: justify;
    font-size: 18px;
}