/* A stylesheet for index.html */

h1 {
    font-family: "Frankline Gothic";
    color: gray;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: Georgia;
    text-align: center;
}

a {
    color: #3399ff;
}

.imagesize img{ /* class for sizing the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 500px;
}
