/* A stylesheet for resume.html */

body {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-family: Florence, cursive;
    text-align: center;
}

h3 {
    font-family: Arial;
}

p {
    color: #808080;
    text-align: justify;
    font-size: 18px;
}
