/* A stylesheet for resume.html */

body {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-family: Florence, cursive;
}

h2 {
    font-family: Arial;
}

h5 {
    text-indent: 25px;
    font-family: Helvetica;
}

p {
    color: #808080;
    text-align: justify;
    font-size: 18px;
}
